body {
    margin: 0;
    max-width: 100%;
    font-family: 'Uchen', serif !important;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: 'Uchen', serif !important;
}
